bod{
    background-color: aliceblue;
}

.header {
    background-color: #e10d0d;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
.menu{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #e10e0e;
}
.vänster {
    width: 50%;
  float: left;
  height: 400px;
}
 

.höger {
    float: right;
    width: 30%;
    padding: 10px;
    text-align: justify;


}
.car{
      height: 400px;
    width: 5
    800px;
    float: right;
}

h1,p{
    text-align: center;
    color: #e10d0d;
}
.ptext {
  padding: 10px;
  text-align: justify;
  margin: 10px;
  text-size-adjust: 40px;
  
}

.footer {
    
    background-color: #000000;
    font-size: 20px;
    color: #e10e0e;
   
    float:right;

}
.kontakt{
   
    margin-top: 40px;
    border: 4px solid rgb(243, 1, 1);
    padding: 40px;
    background-color: #000000;
    color: aliceblue;
    margin: 0 auto;
    float: left;
    width: 300px;

}

